body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#gridEl {
  width: 100%;
  height: 100%;
  background: grey;
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 10%;
  height: 100%;
}

.block {
  width: 100%;
  height: 10%;
  transition: height 0.5s ease;
}

.block.deleted {
  height: 0;
}